.acct-wrapper {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.acct-wrapper h1 {
    text-transform: uppercase;
}

.acct {
    display: flex;
    gap: 40px;
    border-top: 2px solid #000;
}

.acct-links-wrapper {
    background: linear-gradient(#ffffff49, #ffffff93),
        url("../images//white-cassette-bg.jpg") center;
    background-size: cover;
    padding-left: 30px;
    width: 35vw;
    border-right: 2px solid #000;
}

.acct-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.acct-links .txt-flex {
    text-decoration: none;
}

.profile {
    padding-bottom: 20px;
}

.profile Button {
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

.profile Button:hover {
    color: #800080;
    background-color: transparent;
}

@media only screen and (max-width: 1024px) {
    .acct {
        flex-direction: column;
    }

    .acct-links-wrapper {
        width: 100%;
        padding-left: 0;
        border-right: none;
        padding-bottom: 30px;
        border-bottom: 1.5px solid #000;
    }

    .acct-links-wrapper h2 {
        padding: 15px;
    }

    .acct-links {
        padding-left: 10px;
    }

    .profile {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .profile h2 {
        margin-left: 5px;
    }

    .outlined-size-normal {
        width: 50%;
    }
}