.reg-container {
    width: 100vw;
    height: 44.6vw;
    background: linear-gradient(#ffffff80,
            #ffffff80),
        url("../images/tape-recording-motion.gif") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-container button {
    background-color: #ffffffcd;
    padding: 20px 30px;
}

.dialog-wrapper {
    padding: 10px 20px;
}

.dialog-actions Button {
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

.dialog-actions Button:hover {
    color: #000;
    background-color: transparent;
}

@media only screen and (max-width: 1024px) {
    .dialog-wrapper {
        padding: 5px;
        font-size: 12px;
    }

    .dialog-actions {
        margin-top: 15px;
    }
}