.product-wrapper {
    margin: 50px;
    display: flex;
    gap: 30px;
}

.product-img {
    height: 55vh;
}

.product-actions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.actions-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions-links .txt-flex {
    text-decoration: none;

}

.hidden-title {
    display: none;
}

.hidden-price {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .product-wrapper {
        flex-direction: column;
        margin: 15px;
        text-align: justify;
        gap: 5px;
    }

    .product-img {
        height: 25vh;
    }

    .product-info h2 {
        display: none;
    }

    .hidden-title {
        display: block;
    }

    .hidden-price {
        display: block;
    }

    .actions-links .txt-flex {
        font-size: 12px;

    }
}