.nav-wrapper {
    height: 70px;
    display: flex;
    margin-left: 10px;
    margin-right: 25px;
    align-items: center;
    justify-content: space-between;
}

.nav-tab {
    border: 0.5px solid #d3d3d3;
}

.nav-actions {
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    .nav-wrapper {
        height: 100%;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .nav-tab {
        display: none;
    }
}